<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">

    {% metagen
      title = metadata.title,
      desc = metadata.description,
      url = metadata.url + page.url,
      img= metadata.url + "/ogimage.jpg",
      generator = "eleventy"
    %}
    
    <link href="/styles.css" rel="stylesheet"/>
    <script src="/app.js" defer></script>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="favicon.png">
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BNJPM59Y1X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BNJPM59Y1X');
  </script>

  {{ content | safe }}

</html>