@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200 1000;
  font-display: swap;
  src: url('/Nunito-VariableFont_wght.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* form */
:root {
  --white:  #ffffff;
  --red:  #ca1f0e;
  --blue: #3251ac;
}
/* https://stripesgenerator.com/ */
.stripes {
  background-image: linear-gradient(135deg, 
    var(--red) 11.11%, var(--white) 11.11%, var(--white) 25%,
    var(--blue) 25%, var(--blue) 36.11%, var(--white) 36.11%,
    var(--white) 50%, var(--red) 50%, var(--red) 61.11%,
    var(--white) 61.11%, var(--white) 75%, var(--blue) 75%,
    var(--blue) 86.11%, var(--white) 86.11%, var(--white) 100%
  );
  background-size: 127.28px 127.28px;
}
/* https://csshero.org/mesher/ */
.mesh {
  background-color:#ff99d8;
  background-image:
  radial-gradient(at 33% 88%, hsla(287,75%,66%,1) 0px, transparent 50%),
  radial-gradient(at 28% 16%, hsla(191,60%,67%,1) 0px, transparent 50%),
  radial-gradient(at 90% 81%, hsla(51,76%,71%,1) 0px, transparent 50%),
  radial-gradient(at 48% 06%, hsla(86,76%,77%,1) 0px, transparent 50%),
  radial-gradient(at 74% 11%, hsla(203,95%,77%,1) 0px, transparent 50%),
  radial-gradient(at 97% 77%, hsla(265,92%,74%,1) 0px, transparent 50%),
  radial-gradient(at 61% 86%, hsla(130,70%,61%,1) 0px, transparent 50%);
}

:root {
  --A: #ffdd5;
  --B: #292524;
}
.sawtooth {
  background-image: 
    linear-gradient(45deg, var(--A) 25%, transparent 26%, transparent 75%, var(--A) 75%), 
    linear-gradient(135deg, var(--A) 25%, var(--B) 26%, var(--B) 75%, var(--A) 75%);
  background-size:96px 96px;
}