---
import '../styles/global.css'
import { SEO } from "astro-seo";

interface Props {
	title: string;
	twClasses?: string;
}

const { title, twClasses }:Props = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO
      title={title}
      description="Tara's Cozy Nook is making books with good looks."
      openGraph={{
        basic: {
          title: "Tara's Cozy Nook is making books with good looks.",
          type: "website",
          image: "https://tarascozynook.com/ogimage.jpg",
        }
      }}
			extend={{
				// extending the default meta tags
				meta: [
					{ name: "theme-color", content: "#7c3aed" },
				],
			}}
    />
	</head>
	<body class={twClasses}>
		<slot />
	</body>
</html>